@import url(./home.css);
.grass-img {
    display: flex;
    width: 80vw;
    margin: auto;
    height: 380px;
    margin-top: 1rem;
}
.journey-span { 
    color: var(--white);
    display: flex;
    margin: auto;
    z-index: 5;
    font-size: 5rem;
    width: 50rem;
    justify-content: center;
    margin-top: -17rem;
}
.text-box {
    display: flex;
    width: 80vw;
    background-color: var(--black);
    color: var(--white);
    justify-content: center;
    box-shadow: 0 -60px 40px -10px #333;
    position: relative;
    z-index: 5;
    margin: 10rem auto 2rem auto;
}

.vertical-line {
    height: 320px;
    width: 2px;
    background-color: var(--white);
    margin-left: 3rem;
    display: flex;
    margin-top: 3.5rem;
}
.center-text {
    margin-left: -1.6rem;
}
.center-text li {
    padding-left: 2rem;
    list-style-type: circle;
}
